body{
    font-family: 'Roboto', sans-serif;
    background-image: url(image/image.jpg);
   /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;

}
div.main-content{
    background-color: white;
}
h2{
    background-color: black;
    color: aliceblue;
    padding: auto;
    text-align: center;

}
div.text-area{
    text-align: center;
}
div.person{
    text-align: center;
}
